include README.rst
include kernuller/data/chara.dat
include kernuller/data/3T_matrix.npy
include kenruller/data/4T_matrix.npy
include kernuller/data/5T_matrices.npy
include kernuller/data/6T_matrices.npy
include kernuller/data/3T_matrices.txt
include kernuller/data/4T_matrices.txt
include kernuller/data/5T_matrices.txt
include kernuller/data/6T_matrices.txt
include kernuller/data/5T_recipes.npy
include kernuller/data/6T_recipes.npy
include kernuller/data/vlti_at_large.npy
include kernuller/data/vlti_at_medium.npy
include kernuller/data/vlti_at_small.npy
include kernuller/data/3T_matrices_p4.pickle/
include kernuller/data/4T_matrices_p4.pickle/
include kernuller/data/5T_matrices_p4.pickle/
include kernuller/data/6T_matrices_p4.pickle/
include kernuller/nullers.py
include setup.py
